/*BODY & HEAD*/


body{
    height: 100%;
    background: #09191b;
    background-size:100%;
    
}

header{
    position: absolute;
    height: 80px;
    
}

.logo{
    padding: 20px 40px 20px;
}

/*PRINCIPAL*/
main{
    
    background: #09191b;
    background-size:100%;
    background-position: center;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;

}

/*SEECION DE INPUT DE TEXTO Y BOTONES DE ACCION*/

.seccionDeTexto{
    position: absolute;
    padding-left: 100px;
    left: 200px;
    top: 120px;
    width: 1080px;
    height: 550px;
}

.cajaDeTexto{
    width: 80%;
    height: 100%;
    border: none;
    background-color: #222423 ;
    cursor: pointer;
    font-family: "Inter", sans-serif;
    color: #90ecbe;
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;
    resize: none;
    caret-color: #90ecbe
    
}

.cajaDeTexto::placeholder{
    color: #90ecbe;
}

.advertencia{
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 8px;
    position: absolute;
    top: 700px;
    left: 370px;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #d8e8e1;

}

.seccionDeBotones{
    position: absolute;
    top: 750px;
    left: 20px;
    padding-left: 15%;
    padding-top: 15px;
}

.botonEncriptar{
    width: 328px;
    height: 67px;
    border-radius: 24px;
    padding: 24px;
    background-color: #0a713d;
    color: white;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    text-align: center;
    border: none;
    margin-right: 20px;
    cursor: pointer;
    
}

.botonEncriptar:hover{

    transform: scale(1.05);
    
}

.botonDesencriptar{
    width: 328px;
    height: 67px;
    border-radius: 24px;
    background-color: #d8e8e1;
    color: #0a713d;
    font-size: 16px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    text-align: center;
    border: 1px solid #0a713d;
    cursor: pointer;
}
.botonDesencriptar:hover{
    transform: scale(1.05);
    
}

/*SECCION DEL TEXTO CONVERTIDO*/

.seccionTextoDesencriptado{
    display:flex;
    position: relative;
    background-color: #d8e8e1;
    width: 450px;
    height: 800px;
    right: 150px;
    top: 50px;
    padding-right: 20px;
    box-sizing: border-box;
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.40);

}
.seccionDeImagen{
    position: absolute;
    left: 30px;
    top: 150px;
    box-sizing: border-box;
    padding-top: 50px;
}

.suprimir{
    display: none;
}


.seccionMensaje{
    position: absolute;
    box-sizing: border-box;
    top: 570px;
    left: 35px;

}

.seccionMensaje h2{
    font-size: 24px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    text-align: center;
    color: #364034;
 }

 .seccionMensaje p{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #364034;
    padding-top: 20px;
}


.seccionTextoConvertido{
    position: absolute;
    bottom: 330px;
    width: 320px;
    height: 450px;
    padding: 0;
    box-sizing: border-box;
    margin-left: 25px;
    font-size: 32px;
}


.seccionCopiar{
    display: flex;
    position: absolute;
    bottom: 400px;
    top: 700px;
    padding-left: 40px;
}

.botonCopiar{
    width: 370px;
    height: 67px;
    border-radius: 24px;
    background-color: #f4fcf7;
    color: #0a713d;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    border: 1px solid #0a713d;
    cursor: pointer;
    position: absolute;
    text-align: center;
}

.botonCopiar:hover{
    transform: scale(1.05);
}

/*PIE DE PAGINA*/

.pieDePagina{
    text-align: center;
    margin-top: 65px;
    margin-bottom: 30px;
    color: #90ecbe;
}
    
